{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <section class="bg-light py-4">
    <div class="row mb-4">
            <div class="col-12">
                <h4 class="fw-semibold text-dark">fav Items</h4>
                <hr class="w-25">
            </div>
        </div>
<div class="row g-4">
    <table class="table table-bordered">
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Unit</th>
            <th>Remove</th>
        </tr>
        {% for item in fav %}
        <tr>
            <td><img src="{{ item.product.product_image }}" height="75px" alt="{{ item.product_name}}"></td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.selling_price | stringformat:'d' }}</td>
            <td><a href="{% url 'remove_fav' item.id %}" onclick="return confirm('Are you sure? to Remove')" class="btn btn-danger btn"><i class="fa fa-trash"></i>Remove</a></td>
        </tr>
        {% endfor %}
    </table>
        </div>
      </section>
    </div>

{% endblock %}